@import "../abstracts/variable";

.Me {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $black-1;
  height: 50rem;

  &-Developer,
  &-Programmer {
    position: absolute;
    text-align: left;

    &-1 {
      border: 1px $yellow-1 solid;
      color: $yellow-1;
      background-color: $black-1;
      width: 25rem;
      text-align: center;
      border-radius: 0.3rem;
      margin: 1rem;
      margin-left: 5rem;
      transition: all 2s ease-in-out;
      animation: SlideInOut 6s ease-in-out;
    }

    &-2 {
      font-size: 1.4rem;
      border-radius: 0.3rem;
      margin: 2rem;
      border: 1px $blue-3 solid;
      color: $color-white;
      background-color: $black-1;
      padding: 1.5rem;
    }
  }

  &-Developer {
    top: 5%;
    left: 10%;
    width: 59rem;
  }
  &-Programmer {
    bottom: 5%;
    right: 10%;
    width: 59rem;
  }

  &-Motto-1,
  &-Motto-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: $color-white;
    color: $black-1;
    font-size: 1rem;
    width: 12rem;
    height: 5rem;
    text-transform: uppercase;
  }

  &-Motto-1 {
    top: 70%;
    left: 20%;
    animation: blink 3s ease-in infinite;
  }

  &-Motto-2 {
    bottom: 65%;
    right: 20%;
    animation: blink 3s ease-in 1s infinite;
  }
}
