@import "../abstracts/variable";
@import "../abstracts/mixins";
.Me {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $black-1;
  height: 50rem;

  @include respond(phone) {
    height: 41rem;
  }
  &-Developer,
  &-Programmer {
    position: absolute;
    text-align: left;

    &-1 {
      border: 1px $yellow-1 solid;
      color: $yellow-1;
      background-color: $black-1;
      width: 25rem;
      text-align: center;
      border-radius: 0.3rem;
      margin: 1rem;
      margin-left: 5rem;
      transition: all 2s ease-in-out;
      animation: SlideInOut 6s ease-in-out;
    }

    &-2 {
      font-size: 1.4rem;
      border-radius: 0.3rem;
      margin: 2rem;
      border: 1px $blue-3 solid;
      color: $color-white;
      background-color: $black-1;
      padding: 1.5rem;
    }
    @include respond(phone) {
      &-1 {
        font-size: 1rem;
        width: 16rem;
        margin-left: 9.5rem;
      }
      &-2 {
        width: 32rem;
        font-size: 1rem;
        margin: 1rem;
      }
    }
  }

  &-Developer {
    top: 5%;
    left: 10%;
    width: 59rem;
    @include respond(phone) {
      top: 0%;
      left: 4%;
    }
  }
  &-Programmer {
    bottom: 5%;
    right: 10%;
    width: 59rem;
    @include respond(phone) {
      bottom: 0%;
      right: -56%;
    }
  }

  &-Motto-1,
  &-Motto-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: $black-1;
    color: $color-white;
    font-size: 1rem;
    width: 12rem;
    height: 5rem;
    text-transform: uppercase;
    border: 1px $color-white solid;
    text-transform: uppercase;
  }

  &-Motto-1 {
    top: 70%;
    left: 17%;
    text-decoration: none;
    border: 1px $rose-1 solid;
    box-shadow: $rose-1 0px 0px 40px -10px;
    width: 18rem;
    cursor: pointer;

    @include respond(phone) {
      top: 102%;
      left: 30.5%;
      width: 14rem;
      font-size: 0.8rem;
      height: 3.5rem;
      box-shadow: none;
      color: $black-1;
      font-weight: bolder;
      background-color: $color-white;
      border: 1px $blue-3 solid;
    }

    &:hover {
      color: $black-1;
      background-color: $color-white;
    }
  }

  &-Motto-2 {
    bottom: 65%;
    right: 20%;
    @include respond(phone) {
      bottom: 105%;

      width: 25rem;
      padding: 0%;
      height: 3rem;
    }
  }
}
