@import "../abstracts/variable";
@import "../abstracts/mixins";

.error {
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-around;
  align-items: center;
  @include respond(phone) {
    justify-content: space-evenly;
    height: 11rem;
  }
  &-info {
    color: $color-white;

    @include respond(phone) {
      font-size: 0.8rem;
    }
  }
  &-action {
    text-decoration: none;

    color: $black-1;
    background-color: $color-white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    animation: glowInOut 3s infinite ease-in-out;
    &:hover {
      color: $color-white;
      background-color: $black-1;
    }
    @include respond(phone) {
      font-size: 1rem;
    }
  }
}
