@import "../abstracts/variable";
.section {
  width: 33rem;

  &-list {
    list-style: none;
  }
}

.About-Me-Thanks,
.Skill-Thanks,
.Experience-Thanks,
.Projects-Thanks,
.Education-Thanks,
.Contacts-Thanks {
  position: absolute;
  top: 0%;
  left: 6%;
  transition: position 6s ease-in-out;
}

.block {
  display: flex;
}
