@import "../abstracts/variable";
.section {
  width: 33rem;

  &-list {
    list-style: none;
    & li:last-child a {
      text-transform: none;
      color: $black-1;
      background-color: $color-white;

      border: 1px $blue-3 solid;
      box-shadow: $blue-3 0px 0px 40px -6px;
      // animation: glowInOut 3s infinite ease-in-out;
      &:hover {
        color: $color-white;
        background-color: $black-1;
      }
    }
  }
  & .Rediscover-Me {
    position: absolute;
    top: 5%;
    right: 10%;
    text-decoration: none;
    padding: 0.6rem;
    border-radius: 0.5rem;
    transition: all 0.7s ease-in-out;
    color: $black-1;
    background-color: $color-white;
    // border: 1px $blue-3 solid;
    // box-shadow: $blue-3 0px 0px 40px -4px;
    // animation: glowInOut 3s infinite ease-in-out;
    &:hover {
      color: $color-white;
      background-color: $black-1;
    }
  }
}

.About-Me-Thanks,
.Skill-Set-Thanks,
.Experience-Thanks,
.Projects-Thanks,
.Education-Thanks,
.Contacts-Thanks {
  position: absolute;
  top: 2%;
  left: 6%;
  pointer-events: none;
  transition: position 6s ease-in-out;
}

.block {
  display: flex;
}
