@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInup {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes glowing-border {
  0% {
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.1);
  }
  50% {
    border-color: rgba(128, 128, 128, 0.8);
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.5);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.1);
  }
}

@keyframes rotate-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8ch;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    color: $color-white;
    text-shadow: 0 0 10px $color-white;
  }
  50% {
    color: $yellow-5;
    text-shadow: 0 0 10px $yellow-5;
  }
  70% {
    color: $peach-3;
    text-shadow: 0 0 10px $peach-3;
  }
  100% {
    color: $color-white;
    text-shadow: 0 0 10px $color-white;
  }
}
@keyframes flicker-wrap {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale();
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInX {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textanimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: $color-white;
    stroke-dashoffset: 0;
  }
}

@keyframes glowInOut {
  0% {
    box-shadow: $blue-3 0px 0px 40px -0px;
  }

  50% {
    box-shadow: $blue-2 0px 0px 35px -5px;
  }

  100% {
    box-shadow: $blue-1 0px 0px 40px -10px;
  }
}

@keyframes glowInOut-1 {
  0% {
    box-shadow: $yellow-1 0px 0px 25px -5px;
  }

  50% {
    box-shadow: $yellow-1 0px 0px 30px -10px;
  }

  100% {
    box-shadow: $yellow-1 0px 0px 0px -20px;
  }
}

@keyframes glowInOut-2 {
  0% {
    box-shadow: $blue-3 0px 0px 40px -5px;
  }

  100% {
    box-shadow: $purple-5 0px 0px 40px -5px;
  }
}

@keyframes SlideInOut {
  0% {
    transform: translateX(9rem);
    box-shadow: $Summer-1 0px 0px 25px 0px;
    border: 1px $color-white solid;
  }
  50% {
    transform: translateX(6rem);
    box-shadow: $green-0 0px 0px 25px 0px;
    border: 1px $color-white solid;
  }
  100% {
    transform: translateX();
    border: 1px $yellow-1 solid;
  }
}
