@import "../abstracts/variable";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // define whats 1 rem = 10px
  font-size: 62.5%;
}

body {
  // padding-top: 3.5rem;
  background-color: $black-1;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $blue-3 transparent;
}
