@import "../abstracts/variable";

.CompanyList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $black-1;
  font-family: "Courier New", Courier, monospace;
  &-one {
    width: 30rem;
    height: 35rem;
    border-radius: 0.4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border: 1px $color-white solid;
    box-shadow: $color-layout-5 0px 0px 40px -8px;
    &-logo {
      position: absolute;
      top: 5%;

      width: 20rem;
      height: 10rem;
      border-radius: 2rem;
    }
    &-name {
    }
  }
}
