@import "../abstracts/variable";
@import "../abstracts/mixins";

.CompanyList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: $black-1;
  // font-family: "Courier New", Courier, monospace;
  // text-transform: uppercase;
  &-one {
    width: 30rem;
    height: 30rem;
    border-radius: 0.7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    background-image: linear-gradient(
      -225deg,
      #69eacb 0%,
      #eaccf8 48%,
      #6654f1 100%
    );
    transition: background 3s ease-in-out;
    border: 1px $black-1 solid;
    box-shadow: $color-white 15px 15px 20px -10px;
    @include respond(phone) {
      width: 28rem;
    }

    &:hover {
      background-image: linear-gradient(
        -225deg,
        #6654f1 0%,
        #eaccf8 48%,
        #69eacb 100%
      );

      .CompanyList-one-logo {
        transform: translateY(-1.5rem);
      }
    }
    &-logo {
      position: absolute;
      top: -15%;
      width: 20rem;
      height: 10rem;
      border-radius: 2rem;
      box-shadow: $black-1 15px 15px 20px -10px;
      transition: all 1s ease-in-out;
      // animation: float 9s ease-in-out infinite;

      @include respond(phone) {
        width: 18rem;
        height: 8rem;
        animation: float 3s ease-in-out infinite;
      }
    }
    &-name {
      color: $black-1;
      position: absolute;
      width: 25rem;
      top: 30%;
      @include respond(phone) {
        width: 25rem;
        top: 24%;
      }
    }
    &-role {
      color: $black-1;
      position: absolute;
      top: 55%;
      font-size: 1.5rem;
      @include respond(phone) {
        top: 50%;
      }
    }
    &-type {
      color: $black-1;
      position: absolute;
      top: 64%;
      @include respond(phone) {
        top: 60%;
      }
    }
    &-tenure {
      color: $black-1;
      position: absolute;
      top: 85%;
      @include respond(phone) {
        top: 80%;
      }
    }
  }
}
