@import "../abstracts/variable";

.Container {
  inset: 0px;
  width: 100vw;
  height: 100dvh;
  margin: auto;
  background-color: rgba($black-1, 0.5);
  //   border-radius: 1.4rem;
  text-align: center;
  align-content: center;

  overflow: auto;
  @include respond(phone) {
    overflow: hidden;
  }
}

.Container-1 {
  inset: 0px;
  width: 75vw;
  height: 70dvh;
  margin: auto;
  // font-family: "Cinzel", serif;
  margin-right: 6rem;
  background-color: rgba($black-1, 0.5);
  // border: 1px $color-white solid;
  border-radius: 0.5rem;
  text-align: center;
  align-content: center;
  overflow: auto;
  transition: all 2s ease-in-out;
  animation: expand 2s ease-in-out;
  @include respond(phone) {
    width: 99vw;
    margin-right: 1rem;
  }
}

.Container-error {
  inset: 0px;
  width: 50vw;
  height: 50dvh;
  margin: auto;
  font-size: 1.5rem;
  background-color: rgba($black-1, 1);
  // border: 1px $color-white solid;
  border-radius: 0.5rem;
  text-align: center;
  align-content: center;
  animation: flicker-wrap 1s ease-in;

  // border: 1px $red-1 solid;
  box-shadow: $blue-3 0px 0px 40px -11px;
  overflow: auto;
}

.Container-2 {
  inset: 0px;
  width: 70vw;
  height: 70dvh;
  margin: auto;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  // border: 1px $color-white solid;
  border-radius: 0.5rem;
  text-align: center;
  align-content: center;
  animation: flicker-wrap 1s ease-in;

  // border: 1px $red-1 solid;

  overflow: auto;
  transition: all 0.5s ease-in-out;
  @include respond(phone) {
    width: 100vw;
    height: 100vh;
    margin-right: 0;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
