.Container {
  inset: 0px;
  width: 100vw;
  height: 100dvh;
  margin: auto;
  background-color: rgba($black-1, 0.7);
  //   border-radius: 1.4rem;
  text-align: center;
  align-content: center;
  overflow: auto;
}

.Container-1 {
  inset: 0px;
  width: 75vw;
  height: 70dvh;
  margin: auto;
  font-family: "Cinzel", serif;
  margin-right: 6rem;
  background-color: rgba($black-1, 0.4);
  border: 1px $color-white solid;
  border-radius: 0.5rem;
  text-align: center;
  align-content: center;
  overflow: auto;
  animation: fadeIn 1.5s ease-in-out;
}
