@import "../abstracts/variable";

.line {
  position: relative;
  line-height: 3rem;
  width: 43rem;
  height: 17rem;
  margin: 2rem;
  // background-color: $color-white;
  // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  &::after {
    content: "";
    top: 64.7%;
    left: 65.2%;
    height: 5rem;
    color: $blue-3;
    border: 1px $blue-3 solid;
    box-shadow: $blue-3 0px 0px 40px -5px;
    position: absolute;
  }
  &::before {
    content: "";
    top: 25%;
    left: 40%;
    height: 25rem;
    color: $blue-3;
    border: 1px $blue-3 solid;
    box-shadow: $blue-3 0px 0px 40px -5px;
    position: absolute;
    transform: rotate(90deg);
  }

  &-connect {
    // position: absolute;
    background-color: $black-1;
    color: $color-white;
    text-align: left;
    padding: 1rem 0 3rem 3rem;
    height: 5rem;
    width: 15rem;
    // border: 1px $blue-3 solid;
    box-shadow: $blue-3 0px 0px 40px -4px;
    border-top-right-radius: 5rem;

    &::before {
      content: "";
      top: 47%;
      height: 8rem;
      color: $blue-3;
      border: 1px $blue-3 solid;
      box-shadow: $blue-3 0px 0px 40px -5px;
      position: absolute;
    }
  }
  &-value {
    font-size: 1.1rem;
    text-decoration: none;
    top: 60%;
    left: 45%;
    color: $black-1;
    font-family: "Montserrat", serif;
    font-style: italic;
    padding: 0.3rem 1rem;
    background-color: $color-white;
    border-radius: 0.2rem;
    position: absolute;
    // border: 1px $blue-3 solid;
    // box-shadow: $blue-3 0px 0px 40px -8px;
    z-index: 1;
    animation: float 4s ease-in-out infinite;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $green-0;
      background-color: $black-1;
      border: 1px $green-0 solid;
      // box-shadow: $green-0 0px 0px 40px -15px;
      animation: none;
    }
  }
  & .Phone {
    top: 60%;
    left: 50%;
  }
  & .LinkedIn {
    top: 60%;
    left: 30%;
  }
  & .Gmail {
    top: 60%;
    left: 40%;
  }
}
