@import "../abstracts/variable";
li {
  text-align: right;
  padding: 3rem;
  width: 22rem;

  transition: all 0.7s ease-in-out;
  &.Thanks {
    transform: translateX(9rem);
    width: 25rem;
  }

  & .list {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem;
    border-radius: 0.5rem;
    transition: all 0.7s ease-in-out;
    background-color: $black-1;
    color: $color-white;
    border: 1px $color-white solid;
    // box-shadow: $green-0 0px 0px 40px -11px;

    &:hover {
      color: $black-1;
      background-color: $color-white;
    }

    &.active {
      color: $green-0;
      background-color: $black-1;
      border: 1px $color-white solid;
      box-shadow: $color-white 0px 0px 40px -5px;
      padding: 1rem;
    }
  }
}
