@import "../abstracts/variable";
.project {
  position: relative;
  border: 1px $purple-5 solid;
  background-color: $black-1;
  width: 70rem;
  height: 15rem;
  color: $color-white;

  &-des {
    position: absolute;
    top: 5%;
    font-size: 1.2rem;
    padding: 1rem;
  }
  &-link {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 15rem;
    background-color: $color-white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 1px $green-0 solid;
    color: $black-1;
    &:hover {
      background-color: $green-0;
    }
  }
  &-tech {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-around;
    width: 35rem;
    font-size: 1rem;
    & p {
      background-color: $black-1;
      border: 1px $color-white solid;
      padding: 0.5rem;
      border-radius: 0.5rem;
      color: $green-0;
    }
  }
}
